<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Streaming, licences DRM, VMAP/VAST et pixels de tracking. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Requis par ExoPlayer.setWakeMode(C.WAKE_MODE_NETWORK). -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
      Note : certains pixels de tracking pub sont encore en http://. Android 9+ bloque le
      trafic en clair par défaut ; en prod on ajoute un network_security_config ciblé
      plutôt que usesCleartextTraffic="true" global.
      https://developer.android.com/privacy-and-security/security-config
    -->
    <application
        android:name=".MediaSampleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Media3Sample">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Media3Sample"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
